{% extends '_account_base.html' %}
{% load i18n %}
{% load account %}
{% load static %}

{% block title %}メールアドレスの確認{% endblock title%}

{% block page_title %}メールアドレスを確認してください{% endblock page_title %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        <p class="font-md text-light">メールアドレス <u>{{ confirmation.email_address.email }}</u> が <u>{{ user_display }}さん</u> のものであることを確認してください</p>
        <form class="form" method="POST">
            {% csrf_token %}
            <button class="contained-btn-light margin-top-md margin-bottom-md" type="submit">確認</button>
        </form>
    {% else %}
        {% url 'account_email' as email_url %}
        <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
    {% endif %}
</div>
{% endblock content %}