{% extends '_base.html' %}
{% load i18n %}
{% load account %}

{% block title %}メールアドレスの確認{% endblock title %}

{% block content %}
<div class="email_confirm outer-container d-flex flex-column justify-content-center align-items-center">
    <h1 class="title">メールアドレスの確認</h1>
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        <p class="desc">メールアドレス <span class="underline">{{ confirmation.email_address.email }}</span> が <span class="underline">{{ user_display }}さん</span> のものであることを確認してください</p>
        <div class="email_confirm_container inner-container">
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                    <button class="email-confirm-btn" type="submit">{% trans 'Confirm' %}</button>
            </form>
        </div>
    {% else %}
        {% url 'account_email' as email_url %}
        <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
    {% endif %}
</div>
{% endblock content %}