{% extends '_account_base.html' %}
{% load static %}

{% block title %}ログアウト{% endblock title%}

{% block page_title %}ログアウト{% endblock page_title %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <p class="font-md font-medium text-light">ログアウトしてもよろしいですか？</p>
    <form class="form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="contained-btn btn-light margin-top-md margin-bottom-md" type="submit">ログアウト</button>
    </form>
</div>
{% endblock content %}