{% extends '_base.html' %}
{% load static %}

{% block title %}パスワード変更{% endblock title%}

{% block content %}
<div class="outer-container d-flex flex-column justify-content-center align-items-center">
    <h1 class="title">パスワード変更</h1>
    <p class="desc">まず現在のパスワードを入力し、それから新しいパスワードを入力してください</p>
    <div class="form-container">
        <form class="pw-change-form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="cta" type="submit">変更</button>
        </form>
    </div>
</div>
{% endblock content %}