{% extends '_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}パスワードリセット{% endblock title%}

{% block content %}
<div class="outer-container d-flex flex-column justify-content-center align-items-center">
    <h1 class="title">{% if token_fail %}トークンが無効です{% else %}パスワードリセット{% endif %}</h1>
    <div class="form-container">
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}このリンクは無効です。<a href="{{ passwd_reset_url }}">new password reset</a> にて新しいリンクを取得してください。{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="cta" type="submit">リセット</button>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock content %}