{% extends '_account_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}パスワードリセット{% endblock title%}

{% block page_title %}パスワードリセット{% endblock page_title %}

{% block content %}
<div class="panel custom-bg-light d-flex flex-column align-items-center">
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="">{% blocktrans %}このリンクは無効です。<u><a href="{{ passwd_reset_url }}">new password reset</a></u> にて新しいリンクを取得してください。{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form class="form" action="{{ action_url }}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="contained-btn margin-top-md margin-bottom-md" type="submit">リセット</button>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}