{% extends '_base.html' %}

{% block title %}新規登録{% endblock title %}

{% block content %}
<div class="outer-container d-flex flex-column justify-content-center align-items-center">
    <h1 class="title">新規登録</h1>
    <div class="form-container">
        <form class="signup-form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-group">
                <button class="cta" type="submit">登録</button>
                <a class="line-cta" href="{% url 'account_login' %}">ログイン</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}