version: '3.8'

services:
    web:
        build: .
        command: python /code/manage.py runserver 0.0.0.0:8000
        volumes:
            - .:/code
        ports:
            - 8000:8000
        depends_on: 
            - db
        environment: 
            - "DJANGO_SECRET_KEY=v)3qf5&*=pz)jb+zy6@s_=&6lcmchr&44533y5f@@8br50(m*="
            - "DJANGO_DEBUG=True"
    db:
        image: postgres:11
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        environment: 
            - "POSTGRES_HOST_AUTH_METHOD=trust"
volumes:
    postgres_data: