[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "==2.8.5"
django-allauth = "==0.42.0"
django = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
environs = {extras = ["django"], version = "*"}
whitenoise = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
