@import "base";

// ===============================================================
// navbar
// ===============================================================
.navbar {
    width: 100%;
    background-color: $color-primary;
    height: 8rem;
    padding: 0;
    .container {
        height: 100%;
    }
    .navbar-brand {
        width: 7%;
        min-width: 7rem;
        img {
            width: 100%;
        }
    }
    .line-cta {
        @include line-button($color-light);
        margin-left: 3rem;
    }
    .navbar-collapse {
        justify-content: flex-end;
        height: 100%;
        .navbar-nav {
            height: 100%;
        }
        .nav-link {
            color: $color-light;
            padding: 0 2rem;
            line-height: 8rem;
            &:hover:not(.icon), &.active {
                font-weight: $font-weight-bold;
                background-color: $color-light;
                color: $color-primary;
            }
        }
        .nav-item:last-child {
            margin-left: 2rem;
            .nav-link {
                padding: 0;
            }
        }
        .bi {
            min-width: 3rem;
            fill: $color-light;
        }
    }
}

// ===============================================================
// footer
// ===============================================================
.footer {
    padding: 1rem 0;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

// ===============================================================
// hero
// ===============================================================
.hero {
    width: 100%;
    height: 65rem;
    background: url(/static/images/hero-curved.png);
    background-position: bottom;
    background-size: cover;
    position: relative;
    color: $color-light;
    margin-bottom: 6rem;
    overflow-y: hidden;
    &.subpage {
        height: 45rem;
    }
    .title, .subtitle {
        z-index: 1;
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20rem;
        margin-bottom: 6rem;
    }
    .subtitle {
        font-family: $font-family-secondary;
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
        display: block;
        margin-top: 2rem;
        text-align: center;
    }
    .down-arrow {
        width: 10rem;
        height: 10rem;
        background-color: $color-light;
        border-radius: 100%;
        position: absolute;
        bottom: -5rem;
        z-index: 1;
        .bi-arrow-down-short {
            width: 4rem;
            fill: $color-dark;
            position: absolute;
            left: 25%;
            top: 25%;
            transform: translate(15%, -30%);
        }
    }
}

// ===============================================================
// sections
// ===============================================================
.section {
    margin: 0;
    padding: 12rem 0;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    position: relative;
    p {
        font-weight: $font-weight-normal;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6rem;
    }
    .content-container {
        display: inline-block;
    }
    .item {
        margin-bottom: 1.5rem;
        a {
            text-align: left;
        }
    }
    .maintitle {
        position: relative;
        &::before, &::after {
            content: "";
            display: block;
            width: 3rem;
            height: 0.3rem;
            background-color: $color-dark;
            border-radius: 0.15rem;
            position: absolute;
            top: 50%;
        }
        &::before {
            left: -6rem;
        }
        &::after {
            right: -6rem;
        }
    }
    .subtitle {
        font-family: $font-family-secondary;
        font-size: $font-size-sm;
        display: block;
        margin-top: 2rem;
        text-align: center;
    }
    &.bg-blue {
        .maintitle {
            &::before, &::after {
                background-color: $color-light;
            }
        }
    }
    .date-tag {
        position: relative;
        margin-right: 3rem;
        margin-bottom: 1rem;
        font-size: $font-size-sm!important;
    }
    .tag {
        position: absolute;
        left: -8rem;
        top: 20%;
        background-color: $color-secondary;
        color: $color-light;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        font-size: $font-size-xs;
        display: inline-block;
        transform: translateY(-15%);
    }
    &.news {
        .news-item {
            display: flex;
            flex-direction: row;

        }
        .news-title {
            color: $color-dark;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
                color: $color-secondary;
            }
        }
    }
    &.recruit {
        .recruit-item {
            position: relative;
            margin-bottom: 2rem;
            border-bottom: 0.1rem solid lighten($color-dark, 60%);
            padding-bottom: 1rem;
            .tag {
                left: 0;
                margin-left: -10%;
                transform: translateY(-40%);
                font-size: $font-size-xs;
            }
        }
        .recruit-list {
            font-size: $font-size-sm-xs;
        }
        .recruit-title {
            font-size: $font-size-sm-xs;
            margin-bottom: 1rem;
        }
        .tag-title {
            margin-bottom: 1rem;
        }
    }
    &.schedule {
        .staff-item {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &.access {
        .col-md-6 {
            padding: 0 2rem;
        }
        .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                font-size: $font-size-sm;
                margin-bottom: 1.5rem;
            }
        }
        .map {
            min-height: 25rem;
            max-height: 30rem;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
    .add {
        position: relative;
        @include line-button($color-primary);
        width: auto;
        padding: 1.2rem 2rem;
        margin-top: 6rem;
        border-radius: 1rem;
        &.white {
            @include line-button($color-light);
            width: auto;
            padding: 1.2rem 2rem;
            border-radius: 1rem;
            .bi-plus {
                fill: $color-light;
            }
        }
        .bi-plus {
            width: 2.5rem;
            height: 2.5rem;
            fill: $color-primary;
            position: relative;
            left: 0.5rem;
        }
    }
}
// ===============================================================
// login page
// ===============================================================
.outer-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/static/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: $color-dark;
        opacity: .7;
        position: absolute;
        left: 0;
        top: 0;
    }
    .title {
        margin-bottom: 6rem;
        font-size: $font-size-md;
        color: $color-light;
        z-index: 1;
    }
}
.form-container {
    width: 40%;
    max-width: 70rem;
    text-align: center;
    background-color: $color-light;
    padding: 6rem 4rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem lighten($color-dark, 30%);
    z-index: 1;
    p {
        margin-bottom: 3rem;
        font-size: $font-size-sm-xs;
    }
    label {
        margin-right: 1rem;
        font-weight: $font-weight-normal;
    }
    input {
        height: 3rem;
        border: none;
        border-radius: 0.5rem;
        outline-color: lighten($color-dark, 30%);
    }
    .cta {
        border: none;
        margin-bottom: 3rem;
        @include button($color-light, $color-primary);
    }
    .hint, a {
        font-size: $font-size-xs;
        font-weight: $font-weight-normal;
    }
    a {
        display: inline;
        text-decoration: underline;
    }
}
.confirm {
    font-size: $font-size-sm;  
    color: $color-light; 
    font-weight: $font-weight-normal;
    margin-bottom: 3rem;
    z-index: 1;
}
.logout {
    z-index: 1;
    .cta {
        border: none;
        @include button($color-primary, $color-light);
    }
}
form {
    width: 100%;
    display: inline-block;
    text-align: center;
    p {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;
        label {
            display: block;
            font-size: $font-size-sm-xs;
            margin-right: 2rem;
            margin-bottom: 0;
        }
    }
    label, input, select, textarea {
        font-size: $font-size-sm-xs;
    }
    input, select, textarea {
        display: block;
        width:60%;
        border-radius: 0.5rem;
        border: 0.1rem solid lighten($color-dark, 30%);
    }
    textarea {
        height: 8rem;
    }
    .cta {
        @include button($color-light, $color-primary);
    }
}
.report-form, .staff-form, .saturday-form, .news-form {
    width: 30%;
}
.login-form {
    label {
        width:35%;
    }
    input {
        width: 65%;
    }
}
.recruit, .report {
    .title {
        font-size: $font-size-sm;
    }
}
.staff-form, .news-form {
    label {
        width: 20%
    }
    input, textarea, select {
        width: 80%;
    }
}
.saturday-form {
    label {
        width: 20%;
    }
    input {
        width: 80%;
    }
}
// ===============================================================
// datepicker
// ===============================================================
#ui-datepicker-div {
    background-color: $color-secondary;
    display: inline-block;
    position: absolute;
    top: 65%!important;
    left: auto!important;
    right: 20%!important;
    .ui-datepicker-header {
        display: block;
        text-align: center;
        margin: 2rem 0;
        color: $color-light;
        a {
            color: $color-light;
        }
    }
    table {
        display: block;
        margin: 0 2rem 2rem;
        color: $color-light;
        a {
            color: $color-light;
        }
    }
}