@import "base";

// responsive
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
    // layout
    .container {
        max-width: 120rem;
    }
    .inner-container {
        width: 80%;
        max-width: 60rem;
    }
    .tag {
        max-width: 4.5rem;
        &.tag-placeholder {
            display: block;
            opacity: 0;
        }
    }
    // navbar
    .navbar-brand {
        a {
            margin: 0!important;
        }
    }
    .navbar-collapse {
        position: static!important;
        height: 100%;
        display: flex;
        justify-content: center;
        .close {
            display: none;
        }
        .navbar-nav {
            margin-top: 0!important;
            height: 100%;
            justify-content: space-between;
        }
        .nav-item {
            height: 100%;
            @include padding-left(2rem!important);
            @include padding-right(2rem!important);
        }
        .nav-link {
            position: relative;
            height: 100%;
            line-height: 5rem;
            padding: 0!important;
            margin: 0;
            opacity: .8;
            &:hover, &.active {
                opacity: 1;
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 0.5rem;
                    background-color: $color-light;
                    position: absolute;
                }
            }
        }
    }
    // hero
    .hero {
        height: 45rem;
    }
    // info
    .info {
        .date {
            padding: 0 1.5rem;
        }
        .info-item {
            position: relative;
            flex-direction: row!important;
            justify-content: flex-end!important;
            * {
                text-align: left;
            }
            .info-title {
                padding: 0 1.5rem;
                margin-top: 0!important;
                text-align: left;
            }
        }
        .tag {
            display: block;
            margin: 0;
            text-align: center;
        }
    }
    // staff
    .staff {
        .staff-item {
            text-align: left;
        }
    }
    // access
    .access-info {
        font-size: $font-md!important;
        text-align: left!important;
    }
    // recruit
    .recruit-item {
        .url {
            * {
                margin: 0;
                text-align: left;
            }
        }
        p {
            margin-bottom: 0;
        }
        .number {
            margin: 0;
        }
        .btn-group-sm {
            margin: 0;
            justify-content: flex-end;
        }
        .tag {
            display: block;
            text-align: center;
            &.tag-placeholder {
                display: block;
                opacity: 0;
            }
        }
    }
    // account pages
    .meta-info {
        span {
            text-align: left;
        }
        span:not(:last-child) {
            margin-bottom: 0!important;
            padding-left: 0;
        }
        span:last-child {
            padding-right: 0;
        }
    }
}
@media screen and (min-width: 992px) {
    // layout
    // navbar
    // hero
    .hero {
        height: 55rem;
    }
}
@media screen and (min-width: 1200px) {
    // layout
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}