$color-primary: #036eb8;
$color-secondary: #2fa8e1;
$color-dark: #333333;
$color-light: #f2f2f2;
$color-caution: #db3218;

$font-family-primary: 'M PLUS Rounded 1c', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;

$font-xl: 4rem;
$font-lg: 3rem;
$font-md: 2rem;
$font-sm: 1.5rem;
$font-xs: 1rem;

$font-bold: 700;
$font-medium: 500;
$font-normal: 400;
$font-light: 300;

$letter-spacing-lg: 0.2rem;
$letter-spacing-normal: 0.1rem;