@import "../../node_modules/rfs/scss.scss";
@import "normalize";
@import "responsive";

$color-primary: #036eb8;
$color-secondary: #2fa8e1;
$color-dark: #333333;
$color-light: #f2f2f2;
$color-caution: #db3218;

$font-family-primary: 'M PLUS Rounded 1c', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;

$font-xl: 4rem;
$font-lg: 3rem;
$font-md: 2rem;
$font-sm: 1.5rem;
$font-xs: 1rem;

$font-bold: 700;
$font-medium: 500;
$font-normal: 400;
$font-light: 300;

$letter-spacing-lg: 0.2rem;
$letter-spacing-normal: 0.1rem;

*,
*::before
*::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    min-height: 100%;
}
body {
    font-size: $font-sm;
    font-weight: $font-normal;
    letter-spacing: $letter-spacing-normal;
    min-height: 100%;
    z-index: -1;
}
h1, h2, h3, p {
    padding: 0;
    margin: 0;
}
a {
    display: block;
}
img {
    display: block;
}
button,
button:hover,
button:focus,
button:active,
button:visited {
    border: none;
    outline: none;
}
a, a:hover {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}
.inner-container {
    width: 100%;
}
.row {
    width: 100%;
    max-width: 100rem;
    margin-left: 0;
}
.data-list {
    width: 100%;
    max-width: 60rem;
    &.data-list-small {
        max-width: 50rem;
    }
    &.data-list-lg {
        max-width: 70rem;
    }
}
.hidden {
    display: none;
}
.btn-group-sm {
    min-width: 10rem;
}
.col {
    max-width: 100%;
    @include padding-left(1.5rem);
    @include padding-right(1.5rem);
}
// utility classes & mixins
.font-jp {
    font-family: $font-family-primary;
}
.font-en {
    font-family: $font-family-secondary;
}
.font-xl {
    @include font-size($font-xl);
}
.font-lg {
    @include font-size($font-lg);
}
.font-md {
    @include font-size($font-md);
}
.font-sm {
    @include font-size($font-sm);
}
.font-xs {
    @include font-size($font-xs);
}
.font-bold {
    font-weight: $font-bold;
}
.font-medium {
    font-weight: $font-medium;
}
.font-normal {
    font-weight: $font-normal;
}
.font-light {
    font-weight: $font-light;
}
.text-light {
    color: $color-light!important;
}
.text-dark {
    color: $color-dark!important;
}
.text-primary {
    color: $color-primary!important;
}
.text-secondary {
    color: $color-secondary!important;
}
.text-caution {
    color: $color-caution!important;
}
.letter-spacing-lg {
    letter-spacing: $letter-spacing-lg;
}
.letter-spacing-normal {
    letter-spacing: $letter-spacing-normal;
}
.custom-bg-primary {
    background-color: $color-primary;
}
.custom-bg-secondary {
    background-color: $color-secondary;
}
.custom-bg-light {
    background-color: $color-light;
}
.margin-xl {
    @include margin(8rem);
}
.margin-top-xl {
    @include margin-top(8rem);
}
.margin-bottom-xl {
    @include margin-bottom(8rem);
}
.margin-left-xl {
    @include margin-left(8rem);
}
.margin-right-xl {
    @include margin-right(8rem);
}
.margin-lg {
    @include margin(4rem);
}
.margin-top-lg {
    @include margin-top(4rem);
}
.margin-bottom-lg {
    @include margin-bottom(4rem);
}
.margin-left-lg {
    @include margin-left(4rem);
}
.margin-right-lg {
    @include margin-right(4rem);
}
.margin-md {
    @include margin(3rem);
}
.margin-top-md {
    @include margin-top(3rem);
}
.margin-bottom-md {
    @include margin-bottom(3rem);
}
.margin-left-md {
    @include margin-left(3rem);
}
.margin-right-md {
    @include margin-right(3rem);
}
.margin-sm {
    @include margin(2rem);
}
.margin-top-sm {
    @include margin-top(2rem);
}
.margin-bottom-sm {
    @include margin-bottom(2rem);
}
.margin-left-sm {
    @include margin-left(2rem);
}
.margin-right-sm {
    @include margin-right(2rem);
}
.margin-xs {
    @include margin(1rem);
}
.margin-top-xs {
    @include margin-top(1rem);
}
.margin-bottom-xs {
    @include margin-bottom(1rem);
}
.margin-left-xs {
    @include margin-left(1rem);
}
.margin-right-xs {
    @include margin-right(1rem);
}
.padding-xl {
    @include padding(12rem);
}
.padding-top-xl {
    @include padding-top(12rem);
}
.padding-bottom-xl {
    @include padding-bottom(12rem);
}
.padding-left-xl {
    @include padding-left(12rem);
}
.padding-right-xl {
    @include padding-right(12rem);
}
.padding-lg {
    @include padding(3rem);
}
.padding-top-lg {
    @include padding-top(3rem);
}
.padding-bottom-lg {
    @include padding-bottom(3rem);
}
.padding-left-lg {
    @include padding-left(3rem);
}
.padding-right-lg {
    @include padding-right(3rem);
}
.padding-md {
    @include padding(1.5rem);
}
.padding-top-md {
    @include padding-top(1.5rem);
}
.padding-bottom-md {
    @include padding-bottom(1.5rem);
}
.padding-left-md {
    @include padding-left(1.5rem);
}
.padding-right-md {
    @include padding-right(1.5rem);
}
.padding-sm {
    @include padding(1rem);
}
.padding-top-sm {
    @include padding-top(1rem);
}
.padding-bottom-sm {
    @include padding-bottom(1rem);
}
.padding-left-sm {
    @include padding-left(1rem);
}
.padding-right-sm {
    @include padding-right(1rem);
}
.padding-xs {
    @include padding(0.5rem);
}
.padding-top-xs {
    @include padding-top(0.5rem);
}
.padding-bottom-xs {
    @include padding-bottom(0.5rem);
}
.padding-left-xs {
    @include padding-left(0.5rem);
}
.padding-right-xs {
    @include padding-right(0.5rem);
}
// mixins
%generic-btn {
    @include padding-top(0.8rem);
    @include padding-bottom(0.8rem);
    @include padding-left(1rem);
    @include padding-right(1rem);
    @include font-size($font-sm);
    min-width: 8rem;
    color: $color-primary;
    background-color: transparent;
    text-align: center;
    &:hover {
        background-color: lighten($color-primary, 80%);
    }
}
@mixin short-bar($color) {
    content: "";
    display: block;
    width: 2rem;
    height: 0.2rem;
    background-color: $color;
    position: absolute;
    top: 50%;
}
@mixin tag {
    @include padding-top(0.6rem);
    @include padding-bottom(0.6rem);
    @include padding-left(1rem);
    @include padding-right(1rem);
    border-radius: 0.5rem;
    max-width: 4.5rem;
}
@mixin form($width) {
    width: $width;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        &:not(:last-of-type) {
            @include margin-bottom(2rem);
        }
        label {
            width: 35%;
        }
        input, textarea {
            width: 65%;
        }
    }
    .outlined-btn, .contained-btn {
        min-width: 8rem;
    }
}
// buttons
.text-btn {
    @extend %generic-btn;
}
.text-btn-small {
    @extend %generic-btn;
    min-width: 0;
    padding: 0;
    &:hover {
        background-color: transparent;
    }
}
.outlined-btn {
    @extend %generic-btn;
    border: 0.2rem solid $color-primary;
    &:hover {
        border: 0.2rem solid $color-primary;
        background-color: lighten($color-primary, 80%);
    }
}
.contained-btn {
    @extend %generic-btn;
    color: $color-light;
    background-color: $color-primary;
    &:hover {
        color: $color-light;
        background-color: lighten($color: $color-primary, $amount: 20%);
    }
}
.text-btn-light, .outlined-btn-light {
    @extend %generic-btn;
    color: $color-light;
    &:hover {
        color: $color-light;
        background-color: darken($color: $color-light, $amount: 20%);
    }
}
.text-btn-small-light {
    @extend %generic-btn;
    min-width: 0;
    padding: 0;
    color: $color-light;
    &:hover {
        color: $color-light;
        background-color: transparent;
    }
}
.outlined-btn-light {
    @extend %generic-btn;
    border: 0.2rem solid $color-light;
    &:hover {
        border: 0.2rem solid $color-light;
        background-color: darken($color-light, 20%);
    }
}
.contained-btn-light {
    @extend %generic-btn;
    color: $color-primary;
    background-color: $color-light;
    &:hover {
        color: $color-primary;
        background-color: darken($color: $color-light, $amount: 20%);
    }
}
.text-btn-caution, .outlined-btn-caution {
    @extend %generic-btn;
    color: $color-caution;
    &:hover {
        color: $color-caution;
        background-color: lighten($color: $color-caution, $amount: 80%);
    }
}
.text-btn-small-caution {
    @extend %generic-btn;
    min-width: 0;
    padding: 0;
    color: $color-caution;
    &:hover {
        color: $color-caution;
        background-color: transparent;
    }
}
.outlined-btn-caution {
    border: 0.2rem solid $color-caution;
    &:hover {
        color: $color-caution;
    }
}
.contained-btn-caution {
    @extend %generic-btn;
    color: $color-light;
    background-color: $color-caution;
    &:hover {
        color: $color-light;
        background-color: lighten($color: $color-caution, $amount: 20%);
    }
}
.text-btn-small, .text-btn-small-light, .text-btn-small-caution {
    min-width: 5rem;
}
.tag {
    @include tag;
    &.tag-placeholder {
        display: none;
    }
}
.form {
    @include form(100%);
}
.accordion {
    width: 100%;
    max-width: 60rem;
    cursor: pointer;
    p {
        margin-left: 0;
        margin-right: 0; 
        &:not(:last-child) {
            border-bottom: 0.1rem solid lighten($color: $color-dark, $amount: 60%);
        }
    }
    .accordion-title {
        background-color: $color-secondary;
    }
    .ui-accordion-header-active {
        background-color: $color-primary;
        .down {
            display: none;
        }
        .up {
            display: block;
        }
    }
}
// paginate
.pagination {
    width: 30%;
    .step-links {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
    }
    .page-nav {
        position: absolute;
        display: flex;
        flex-direction: row;
        &:first-child {
            left: 0;
        }
        &:last-child {
            right: 0;
        }
        a {
            margin: 0 1rem;
        }
    }
    .current {
        display: block;
        margin: 0 auto;
    }
}
textarea::placeholder {
    color:lighten($color: $color-dark, $amount: 60%);
    opacity: 1;
}
.underline {
    text-decoration: underline;
}
.desc {
    color: $color-light;
    z-index: 1;
    margin-bottom: 3rem;
}
// navbar
.navbar {
    height: 6.5rem;
    margin: 0 auto!important;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    @include padding-left(2rem!important);
    @include padding-right(2rem!important);
    z-index: 10;
    // toggle button
    .navbar-toggler {
        border: none;
        padding: 0;
        z-index: 100;
    }
    // brand
    .navbar-brand {
        padding: 0;
        margin: 0;
        a {
            max-width: 7rem;
            margin: 0 auto;
        }
    }
    // navbar-collapse
    .collapse {
        display: block;
    }
    .navbar-collapse {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 100;
        transition: left .6s ease-in-out;
        .navbar-nav {
            margin-top: 2rem;
        }
        .nav-link {
            padding: 1rem 0 1rem 2rem;
            color: darken($color: $color-light, $amount: 5%)!important;
            &:hover, &.active {
                color: $color-light!important;
            }
        }
        &.show {
            left: 0;
            transition: left .6s ease-in-out;
        }
    }
    .close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }
    // username, logout button, etc.
    .account-group {
        .dropdown-toggle, 
        .dropdown-toggle:hover, 
        .dropdown-toggle:focus, 
        .dropdown-toggle:active,
        .dropdown-toggle:visited {
            border: none;
            outline: none;
            background-color: transparent;
        }
        .dropdown-menu {
            border: none;
            outline: none;
            padding: 0;
        }
    }
}
// hero
.hero {
    position: relative;
    height: 35rem;
    background: url(/static/images/hero-curved.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow-y: hidden;
    z-index: 1;
    h1 {
        position: relative;
        padding: 0 2rem;
        transform: translateY(-3rem);
        .main-msg {
            @include font-size($font-xl);
        }
        .sub-msg {
            @include font-size($font-md);
            line-height: 3rem;
        }
        &::after {
            @include short-bar($color-light);
            position: absolute;
            width: 20%;
            height: 0.5rem;
            left: 50%;
            top: -4rem;
            transform: translateX(-50%);
        }
    }
    .down-arrow {
        width: 8rem;
        height: 8rem;
        color: $color-dark;
        background-color: white;
        border-radius: 100%;
        position: absolute;
        bottom: -4rem;
        .material-icons {
            transform: translateY(-1rem);
        }
    }
}
// section
.section {
    position: relative;
    z-index: 1;
    &.pattern::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: url(/static/images/bg-pattern.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        // top: 0;
        opacity: .3;
        z-index: -1;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        span:first-child {
            position: relative;
            &::before, &::after {
                @include short-bar($color-dark);
            }
            &::before {
                left: -4rem;
            }
            &::after {
                right: -4rem;
            }
        }
        &.text-light {
            span:first-child {
                &::before, &::after {
                    @include short-bar($color-light);
                }
            }
        }
    }
}
.upload-img {
    max-width: 100%;
}
.info {
    z-index: 0;
    .info-item {
        align-items: center;
    }
    .info-title {
        padding: 0;
        margin-top: 1.5rem;
    }
    .tag {
        margin-right: 1.5rem;
    }
    .date {
        text-align: center;
        line-height: 2rem;
        padding: 0;
    }
    &.pattern::before {
        top: -10%;
        height: 110%;
    }
}
.saturday {
    z-index: 10;
}
.staff {
    .staff-item {
        text-align: center;
    }
    z-index: 0;
    &.pattern::before {
        top: -20%;
        height: 120%;
    }
}
.access {
    .access-info {
        font-size: $font-sm;
        text-align: center;
    }
    iframe {
        width: 100%;
        max-height: 25rem;
    }
}
// recruit
.recruit-item {
    margin-right: 0;
    border-bottom: 0.1rem solid lighten($color: $color-dark, $amount: 60%);
    p {
        margin-bottom: 2rem;
    }
    .number {
        text-align: left;
        padding: 0;
        margin-top: 1.5rem;
    }
    .btn-group-sm {
        margin-top: 1.5rem;
    }
    .tag {
        &.tag-placeholder {
            display: block;
            opacity: 0;
        }
    }
}
.info-detail {
    .outlined-btn {
        min-width: 8rem;
    }
}
// responsive
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
    // layout
    .container {
        max-width: 120rem;
    }
    .inner-container {
        width: 80%;
        max-width: 60rem;
    }
    .tag {
        max-width: 4.5rem;
        &.tag-placeholder {
            display: block;
            opacity: 0;
        }
    }
    // navbar
    .navbar-brand {
        a {
            margin: 0!important;
        }
    }
    .navbar-collapse {
        position: static!important;
        height: 100%;
        display: flex;
        justify-content: center;
        .close {
            display: none;
        }
        .navbar-nav {
            margin-top: 0!important;
            height: 100%;
            justify-content: space-between;
        }
        .nav-item {
            height: 100%;
            @include padding-left(2rem!important);
            @include padding-right(2rem!important);
        }
        .nav-link {
            position: relative;
            height: 100%;
            line-height: 6rem;
            padding: 0!important;
            margin: 0;
            opacity: .8;
            &:hover, &.active {
                opacity: 1;
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 0.5rem;
                    background-color: $color-light;
                    position: absolute;
                }
            }
        }
    }
    // hero
    .hero {
        height: 45rem;
    }
    // info
    .info {
        .tag {
            margin: 0;
        }
        .date {
            padding: 0 1.5rem;
        }
        .info-item {
            position: relative;
            flex-direction: row!important;
            justify-content: flex-end!important;
            align-items: center;
            .info-title {
                padding: 0 1.5rem;
                margin-top: 0!important;
                text-align: right;
            }
        }
    }
    // staff
    .staff {
        .staff-item {
            text-align: left;
        }
    }
    // access
    .access-info {
        font-size: $font-md!important;
        text-align: left!important;
    }
    // recruit
    .recruit-item {
        p {
            margin-bottom: 0;
        }
        .number {
            text-align: left;
            margin: 0;
        }
        .btn-group-sm {
            margin: 0;
        }
    }
    // account pages
    .meta-info {
        span {
            text-align: left;
        }
        span:not(:last-child) {
            margin-bottom: 0!important;
            padding-left: 0;
        }
        span:last-child {
            padding-right: 0;
        }
    }
}
@media screen and (min-width: 992px) {
    // layout
    // navbar
    .navbar-collapse {
        
    }
    // hero
    .hero {
        height: 55rem;
    }
}
@media screen and (min-width: 1200px) {
    // layout
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}
// ======================
// account pages
// ======================
.account-body {
    min-height: 100%;
    position: relative;
    background: url(/static/images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: $color-dark;
        opacity: .6;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    .panel {
        width: 100%;
        max-width: 60rem;
        margin: 0 auto;
        border-radius: 1rem;
        @include padding(6rem);
    }
    .meta-info {
        text-align: center;
        span:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    .report-confirm-list {
        li {
            border-bottom: 0.1rem solid darken($color: $color-light, $amount: 30%);
        }
    }
}