article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

*,
*::before *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  min-height: 100%;
  z-index: -1;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

a {
  display: block;
}

img {
  display: block;
}

button,
button:hover,
button:focus,
button:active,
button:visited {
  border: none;
  outline: none;
}

a, a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.inner-container {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 100rem;
  margin-left: 0;
}

.data-list {
  width: 100%;
  max-width: 60rem;
}

.data-list.data-list-small {
  max-width: 50rem;
}

.data-list.data-list-lg {
  max-width: 70rem;
}

.hidden {
  display: none;
}

.col {
  max-width: 100%;
  padding-left: calc(1.275rem + 0.3vw);
  padding-right: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .col {
    padding-left: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .col {
    padding-right: 1.5rem;
  }
}

.font-jp {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.font-en {
  font-family: "Roboto", sans-serif;
}

.font-xl {
  font-size: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .font-xl {
    font-size: 4rem;
  }
}

.font-lg {
  font-size: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .font-lg {
    font-size: 3rem;
  }
}

.font-md {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .font-md {
    font-size: 2rem;
  }
}

.font-sm {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .font-sm {
    font-size: 1.5rem;
  }
}

.font-xs {
  font-size: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.text-light {
  color: #f2f2f2 !important;
}

.text-dark {
  color: #333333 !important;
}

.text-primary {
  color: #036eb8 !important;
}

.text-secondary {
  color: #2fa8e1 !important;
}

.text-caution {
  color: #db3218 !important;
}

.letter-spacing-lg {
  letter-spacing: 0.2rem;
}

.letter-spacing-normal {
  letter-spacing: 0.1rem;
}

.custom-bg-primary {
  background-color: #036eb8;
}

.custom-bg-secondary {
  background-color: #2fa8e1;
}

.custom-bg-light {
  background-color: #f2f2f2;
}

.margin-xl {
  margin: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-xl {
    margin: 8rem;
  }
}

.margin-top-xl {
  margin-top: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-top-xl {
    margin-top: 8rem;
  }
}

.margin-bottom-xl {
  margin-bottom: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-bottom-xl {
    margin-bottom: 8rem;
  }
}

.margin-left-xl {
  margin-left: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-left-xl {
    margin-left: 8rem;
  }
}

.margin-right-xl {
  margin-right: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-right-xl {
    margin-right: 8rem;
  }
}

.margin-lg {
  margin: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-lg {
    margin: 4rem;
  }
}

.margin-top-lg {
  margin-top: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-top-lg {
    margin-top: 4rem;
  }
}

.margin-bottom-lg {
  margin-bottom: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-bottom-lg {
    margin-bottom: 4rem;
  }
}

.margin-left-lg {
  margin-left: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-left-lg {
    margin-left: 4rem;
  }
}

.margin-right-lg {
  margin-right: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-right-lg {
    margin-right: 4rem;
  }
}

.margin-md {
  margin: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-md {
    margin: 3rem;
  }
}

.margin-top-md {
  margin-top: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-top-md {
    margin-top: 3rem;
  }
}

.margin-bottom-md {
  margin-bottom: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-bottom-md {
    margin-bottom: 3rem;
  }
}

.margin-left-md {
  margin-left: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-left-md {
    margin-left: 3rem;
  }
}

.margin-right-md {
  margin-right: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-right-md {
    margin-right: 3rem;
  }
}

.margin-sm {
  margin: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-sm {
    margin: 2rem;
  }
}

.margin-top-sm {
  margin-top: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-top-sm {
    margin-top: 2rem;
  }
}

.margin-bottom-sm {
  margin-bottom: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-bottom-sm {
    margin-bottom: 2rem;
  }
}

.margin-left-sm {
  margin-left: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-left-sm {
    margin-left: 2rem;
  }
}

.margin-right-sm {
  margin-right: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-right-sm {
    margin-right: 2rem;
  }
}

.margin-xs {
  margin: 1rem;
}

.margin-top-xs {
  margin-top: 1rem;
}

.margin-bottom-xs {
  margin-bottom: 1rem;
}

.margin-left-xs {
  margin-left: 1rem;
}

.margin-right-xs {
  margin-right: 1rem;
}

.padding-xl {
  padding: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-xl {
    padding: 12rem;
  }
}

.padding-top-xl {
  padding-top: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-top-xl {
    padding-top: 12rem;
  }
}

.padding-bottom-xl {
  padding-bottom: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-bottom-xl {
    padding-bottom: 12rem;
  }
}

.padding-left-xl {
  padding-left: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-left-xl {
    padding-left: 12rem;
  }
}

.padding-right-xl {
  padding-right: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-right-xl {
    padding-right: 12rem;
  }
}

.padding-lg {
  padding: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-lg {
    padding: 3rem;
  }
}

.padding-top-lg {
  padding-top: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-top-lg {
    padding-top: 3rem;
  }
}

.padding-bottom-lg {
  padding-bottom: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-bottom-lg {
    padding-bottom: 3rem;
  }
}

.padding-left-lg {
  padding-left: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-left-lg {
    padding-left: 3rem;
  }
}

.padding-right-lg {
  padding-right: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-right-lg {
    padding-right: 3rem;
  }
}

.padding-md {
  padding: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-md {
    padding: 1.5rem;
  }
}

.padding-top-md {
  padding-top: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-top-md {
    padding-top: 1.5rem;
  }
}

.padding-bottom-md {
  padding-bottom: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-bottom-md {
    padding-bottom: 1.5rem;
  }
}

.padding-left-md {
  padding-left: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-left-md {
    padding-left: 1.5rem;
  }
}

.padding-right-md {
  padding-right: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-right-md {
    padding-right: 1.5rem;
  }
}

.padding-sm {
  padding: 1rem;
}

.padding-top-sm {
  padding-top: 1rem;
}

.padding-bottom-sm {
  padding-bottom: 1rem;
}

.padding-left-sm {
  padding-left: 1rem;
}

.padding-right-sm {
  padding-right: 1rem;
}

.padding-xs {
  padding: 0.5rem;
}

.padding-top-xs {
  padding-top: 0.5rem;
}

.padding-bottom-xs {
  padding-bottom: 0.5rem;
}

.padding-left-xs {
  padding-left: 0.5rem;
}

.padding-right-xs {
  padding-right: 0.5rem;
}

*,
*::before *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  min-height: 100%;
  z-index: -1;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

a {
  display: block;
}

img {
  display: block;
}

button,
button:hover,
button:focus,
button:active,
button:visited {
  border: none;
  outline: none;
}

a, a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.inner-container {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 100rem;
  margin-left: 0;
}

.data-list {
  width: 100%;
  max-width: 60rem;
}

.data-list.data-list-small {
  max-width: 50rem;
}

.data-list.data-list-lg {
  max-width: 70rem;
}

.hidden {
  display: none;
}

.col {
  max-width: 100%;
  padding-left: calc(1.275rem + 0.3vw);
  padding-right: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .col {
    padding-left: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .col {
    padding-right: 1.5rem;
  }
}

.font-jp {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.font-en {
  font-family: "Roboto", sans-serif;
}

.font-xl {
  font-size: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .font-xl {
    font-size: 4rem;
  }
}

.font-lg {
  font-size: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .font-lg {
    font-size: 3rem;
  }
}

.font-md {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .font-md {
    font-size: 2rem;
  }
}

.font-sm {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .font-sm {
    font-size: 1.5rem;
  }
}

.font-xs {
  font-size: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.text-light {
  color: #f2f2f2 !important;
}

.text-dark {
  color: #333333 !important;
}

.text-primary {
  color: #036eb8 !important;
}

.text-secondary {
  color: #2fa8e1 !important;
}

.text-caution {
  color: #db3218 !important;
}

.letter-spacing-lg {
  letter-spacing: 0.2rem;
}

.letter-spacing-normal {
  letter-spacing: 0.1rem;
}

.custom-bg-primary {
  background-color: #036eb8;
}

.custom-bg-secondary {
  background-color: #2fa8e1;
}

.custom-bg-light {
  background-color: #f2f2f2;
}

.margin-xl {
  margin: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-xl {
    margin: 8rem;
  }
}

.margin-top-xl {
  margin-top: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-top-xl {
    margin-top: 8rem;
  }
}

.margin-bottom-xl {
  margin-bottom: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-bottom-xl {
    margin-bottom: 8rem;
  }
}

.margin-left-xl {
  margin-left: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-left-xl {
    margin-left: 8rem;
  }
}

.margin-right-xl {
  margin-right: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-right-xl {
    margin-right: 8rem;
  }
}

.margin-lg {
  margin: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-lg {
    margin: 4rem;
  }
}

.margin-top-lg {
  margin-top: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-top-lg {
    margin-top: 4rem;
  }
}

.margin-bottom-lg {
  margin-bottom: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-bottom-lg {
    margin-bottom: 4rem;
  }
}

.margin-left-lg {
  margin-left: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-left-lg {
    margin-left: 4rem;
  }
}

.margin-right-lg {
  margin-right: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-right-lg {
    margin-right: 4rem;
  }
}

.margin-md {
  margin: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-md {
    margin: 3rem;
  }
}

.margin-top-md {
  margin-top: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-top-md {
    margin-top: 3rem;
  }
}

.margin-bottom-md {
  margin-bottom: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-bottom-md {
    margin-bottom: 3rem;
  }
}

.margin-left-md {
  margin-left: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-left-md {
    margin-left: 3rem;
  }
}

.margin-right-md {
  margin-right: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-right-md {
    margin-right: 3rem;
  }
}

.margin-sm {
  margin: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-sm {
    margin: 2rem;
  }
}

.margin-top-sm {
  margin-top: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-top-sm {
    margin-top: 2rem;
  }
}

.margin-bottom-sm {
  margin-bottom: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-bottom-sm {
    margin-bottom: 2rem;
  }
}

.margin-left-sm {
  margin-left: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-left-sm {
    margin-left: 2rem;
  }
}

.margin-right-sm {
  margin-right: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-right-sm {
    margin-right: 2rem;
  }
}

.margin-xs {
  margin: 1rem;
}

.margin-top-xs {
  margin-top: 1rem;
}

.margin-bottom-xs {
  margin-bottom: 1rem;
}

.margin-left-xs {
  margin-left: 1rem;
}

.margin-right-xs {
  margin-right: 1rem;
}

.padding-xl {
  padding: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-xl {
    padding: 12rem;
  }
}

.padding-top-xl {
  padding-top: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-top-xl {
    padding-top: 12rem;
  }
}

.padding-bottom-xl {
  padding-bottom: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-bottom-xl {
    padding-bottom: 12rem;
  }
}

.padding-left-xl {
  padding-left: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-left-xl {
    padding-left: 12rem;
  }
}

.padding-right-xl {
  padding-right: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-right-xl {
    padding-right: 12rem;
  }
}

.padding-lg {
  padding: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-lg {
    padding: 3rem;
  }
}

.padding-top-lg {
  padding-top: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-top-lg {
    padding-top: 3rem;
  }
}

.padding-bottom-lg {
  padding-bottom: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-bottom-lg {
    padding-bottom: 3rem;
  }
}

.padding-left-lg {
  padding-left: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-left-lg {
    padding-left: 3rem;
  }
}

.padding-right-lg {
  padding-right: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-right-lg {
    padding-right: 3rem;
  }
}

.padding-md {
  padding: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-md {
    padding: 1.5rem;
  }
}

.padding-top-md {
  padding-top: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-top-md {
    padding-top: 1.5rem;
  }
}

.padding-bottom-md {
  padding-bottom: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-bottom-md {
    padding-bottom: 1.5rem;
  }
}

.padding-left-md {
  padding-left: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-left-md {
    padding-left: 1.5rem;
  }
}

.padding-right-md {
  padding-right: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-right-md {
    padding-right: 1.5rem;
  }
}

.padding-sm {
  padding: 1rem;
}

.padding-top-sm {
  padding-top: 1rem;
}

.padding-bottom-sm {
  padding-bottom: 1rem;
}

.padding-left-sm {
  padding-left: 1rem;
}

.padding-right-sm {
  padding-right: 1rem;
}

.padding-xs {
  padding: 0.5rem;
}

.padding-top-xs {
  padding-top: 0.5rem;
}

.padding-bottom-xs {
  padding-bottom: 0.5rem;
}

.padding-left-xs {
  padding-left: 0.5rem;
}

.padding-right-xs {
  padding-right: 0.5rem;
}

.text-btn, .text-btn-small, .outlined-btn, .contained-btn, .text-btn-light, .outlined-btn-light, .text-btn-small-light, .contained-btn-light, .text-btn-caution, .outlined-btn-caution, .text-btn-small-caution, .contained-btn-caution {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: calc(1.275rem + 0.3vw);
  min-width: 8rem;
  color: #036eb8;
  background-color: transparent;
  text-align: center;
}

@media (min-width: 1200px) {
  .text-btn, .text-btn-small, .outlined-btn, .contained-btn, .text-btn-light, .outlined-btn-light, .text-btn-small-light, .contained-btn-light, .text-btn-caution, .outlined-btn-caution, .text-btn-small-caution, .contained-btn-caution {
    font-size: 1.5rem;
  }
}

.text-btn:hover, .text-btn-small:hover, .outlined-btn:hover, .contained-btn:hover, .text-btn-light:hover, .outlined-btn-light:hover, .text-btn-small-light:hover, .contained-btn-light:hover, .text-btn-caution:hover, .outlined-btn-caution:hover, .text-btn-small-caution:hover, .contained-btn-caution:hover {
  background-color: white;
}

.ui-datepicker {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #2fa8e1;
  color: #f2f2f2;
  padding: 2rem;
}

.ui-datepicker a {
  color: #f2f2f2;
  cursor: pointer;
}

.ui-datepicker a:hover {
  color: #e5e5e5;
}

.ui-datepicker .ui-datepicker-header {
  margin-bottom: 1rem;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  float: left;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  float: right;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  clear: both;
}

.ui-datepicker td a {
  padding: 0.5rem;
}

.text-btn-small {
  min-width: 0;
  padding: 0;
}

.text-btn-small:hover {
  background-color: transparent;
}

.outlined-btn {
  border: 0.2rem solid #036eb8;
}

.outlined-btn:hover {
  border: 0.2rem solid #036eb8;
  background-color: white;
}

.contained-btn {
  color: #f2f2f2;
  background-color: #036eb8;
}

.contained-btn:hover {
  color: #f2f2f2;
  background-color: #26a4fb;
}

.text-btn-light, .outlined-btn-light {
  color: #f2f2f2;
}

.text-btn-light:hover, .outlined-btn-light:hover {
  color: #f2f2f2;
  background-color: #bfbfbf;
}

.text-btn-small-light {
  min-width: 0;
  padding: 0;
  color: #f2f2f2;
}

.text-btn-small-light:hover {
  color: #f2f2f2;
  background-color: transparent;
}

.outlined-btn-light {
  border: 0.2rem solid #f2f2f2;
}

.outlined-btn-light:hover {
  border: 0.2rem solid #f2f2f2;
  background-color: #bfbfbf;
}

.contained-btn-light {
  color: #036eb8;
  background-color: #f2f2f2;
}

.contained-btn-light:hover {
  color: #036eb8;
  background-color: #bfbfbf;
}

.text-btn-caution, .outlined-btn-caution {
  color: #db3218;
}

.text-btn-caution:hover, .outlined-btn-caution:hover {
  color: #db3218;
  background-color: white;
}

.text-btn-small-caution {
  min-width: 0;
  padding: 0;
  color: #db3218;
}

.text-btn-small-caution:hover {
  color: #db3218;
  background-color: transparent;
}

.outlined-btn-caution {
  border: 0.2rem solid #db3218;
}

.outlined-btn-caution:hover {
  color: #db3218;
}

.contained-btn-caution {
  color: #f2f2f2;
  background-color: #db3218;
}

.contained-btn-caution:hover {
  color: #f2f2f2;
  background-color: #ef7c6a;
}

.text-btn-small, .text-btn-small-light, .text-btn-small-caution {
  min-width: 5rem;
}

.tag {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  max-width: 4.5rem;
  text-align: center;
}

.tag.col {
  padding: 0.6rem 0;
  max-width: 4.5rem;
}

.tag.tag-placeholder {
  display: none;
}

.form {
  width: 100%;
  max-width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form p:not(:last-of-type) {
  margin-bottom: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .form p:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.form p label {
  width: 35%;
}

.form p input, .form p textarea {
  width: 65%;
}

.form .outlined-btn, .form .contained-btn {
  min-width: 8rem;
}

.accordion {
  width: 100%;
  max-width: 60rem;
  cursor: pointer;
}

.accordion p {
  margin-left: 0;
  margin-right: 0;
}

.accordion p:not(:last-child) {
  border-bottom: 0.1rem solid #cccccc;
}

.accordion .accordion-title {
  background-color: #2fa8e1;
}

.accordion .ui-accordion-header-active {
  background-color: #036eb8;
}

.accordion .ui-accordion-header-active .down {
  display: none;
}

.accordion .ui-accordion-header-active .up {
  display: block;
}

.pagination {
  width: 30%;
}

.pagination .step-links {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}

.pagination .page-nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pagination .page-nav:first-child {
  left: 0;
}

.pagination .page-nav:last-child {
  right: 0;
}

.pagination .page-nav a {
  margin: 0 1rem;
}

.pagination .current {
  display: block;
  margin: 0 auto;
}

textarea::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

textarea::-ms-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

textarea::placeholder {
  color: #cccccc;
  opacity: 1;
}

.navbar {
  height: 6.5rem;
  margin: 0 auto !important;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: calc(1.325rem + 0.9vw) !important;
  padding-right: calc(1.325rem + 0.9vw) !important;
  z-index: 10;
}

@media (min-width: 1200px) {
  .navbar {
    padding-left: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding-right: 2rem !important;
  }
}

.navbar .navbar-toggler {
  border: none;
  padding: 0;
  z-index: 100;
}

.navbar .navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar .navbar-brand a {
  max-width: 7rem;
  margin: 0 auto;
}

.navbar .collapse {
  display: block;
}

.navbar .navbar-collapse {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 100;
  -webkit-transition: left .6s ease-in-out;
  transition: left .6s ease-in-out;
}

.navbar .navbar-collapse .navbar-nav {
  margin-top: 2rem;
}

.navbar .navbar-collapse .nav-link {
  padding: 1rem 0 1rem 2rem;
  color: #e5e5e5 !important;
}

.navbar .navbar-collapse .nav-link:hover, .navbar .navbar-collapse .nav-link.active {
  color: #f2f2f2 !important;
}

.navbar .navbar-collapse.show {
  left: 0;
  -webkit-transition: left .6s ease-in-out;
  transition: left .6s ease-in-out;
}

.navbar .close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.navbar .account-group .dropdown-toggle,
.navbar .account-group .dropdown-toggle:hover,
.navbar .account-group .dropdown-toggle:focus,
.navbar .account-group .dropdown-toggle:active,
.navbar .account-group .dropdown-toggle:visited {
  border: none;
  outline: none;
  background-color: transparent;
}

.navbar .account-group .dropdown-menu {
  border: none;
  outline: none;
  padding: 0;
}

.hero {
  position: relative;
  height: 35rem;
  background: url(/static/images/hero-curved.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow-y: hidden;
  z-index: 1;
}

.hero h1 {
  position: relative;
  padding: 0 2rem;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.hero h1 .main-msg {
  font-size: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .hero h1 .main-msg {
    font-size: 4rem;
  }
}

.hero h1 .sub-msg {
  font-size: calc(1.325rem + 0.9vw);
  line-height: 3rem;
}

@media (min-width: 1200px) {
  .hero h1 .sub-msg {
    font-size: 2rem;
  }
}

.hero h1::after {
  content: "";
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: #f2f2f2;
  position: absolute;
  top: 50%;
  position: absolute;
  width: 20%;
  height: 0.5rem;
  left: 50%;
  top: -4rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero .down-arrow {
  width: 8rem;
  height: 8rem;
  color: #333333;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  bottom: -4rem;
}

.hero .down-arrow .material-icons {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.section {
  position: relative;
  z-index: 1;
}

.section.pattern::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(/static/images/bg-pattern.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  opacity: .3;
  z-index: -1;
}

.section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .title span:first-child {
  position: relative;
}

.section .title span:first-child::before, .section .title span:first-child::after {
  content: "";
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: #333333;
  position: absolute;
  top: 50%;
}

.section .title span:first-child::before {
  left: -4rem;
}

.section .title span:first-child::after {
  right: -4rem;
}

.section .title.text-light span:first-child::before, .section .title.text-light span:first-child::after {
  content: "";
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: #f2f2f2;
  position: absolute;
  top: 50%;
}

.upload-img {
  max-width: 100%;
}

*,
*::before *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  min-height: 100%;
  z-index: -1;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

a {
  display: block;
}

img {
  display: block;
}

button,
button:hover,
button:focus,
button:active,
button:visited {
  border: none;
  outline: none;
}

a, a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.inner-container {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 100rem;
  margin-left: 0;
}

.data-list {
  width: 100%;
  max-width: 60rem;
}

.data-list.data-list-small {
  max-width: 50rem;
}

.data-list.data-list-lg {
  max-width: 70rem;
}

.hidden {
  display: none;
}

.col {
  max-width: 100%;
  padding-left: calc(1.275rem + 0.3vw);
  padding-right: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .col {
    padding-left: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .col {
    padding-right: 1.5rem;
  }
}

.font-jp {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.font-en {
  font-family: "Roboto", sans-serif;
}

.font-xl {
  font-size: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .font-xl {
    font-size: 4rem;
  }
}

.font-lg {
  font-size: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .font-lg {
    font-size: 3rem;
  }
}

.font-md {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .font-md {
    font-size: 2rem;
  }
}

.font-sm {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .font-sm {
    font-size: 1.5rem;
  }
}

.font-xs {
  font-size: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.text-light {
  color: #f2f2f2 !important;
}

.text-dark {
  color: #333333 !important;
}

.text-primary {
  color: #036eb8 !important;
}

.text-secondary {
  color: #2fa8e1 !important;
}

.text-caution {
  color: #db3218 !important;
}

.letter-spacing-lg {
  letter-spacing: 0.2rem;
}

.letter-spacing-normal {
  letter-spacing: 0.1rem;
}

.custom-bg-primary {
  background-color: #036eb8;
}

.custom-bg-secondary {
  background-color: #2fa8e1;
}

.custom-bg-light {
  background-color: #f2f2f2;
}

.margin-xl {
  margin: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-xl {
    margin: 8rem;
  }
}

.margin-top-xl {
  margin-top: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-top-xl {
    margin-top: 8rem;
  }
}

.margin-bottom-xl {
  margin-bottom: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-bottom-xl {
    margin-bottom: 8rem;
  }
}

.margin-left-xl {
  margin-left: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-left-xl {
    margin-left: 8rem;
  }
}

.margin-right-xl {
  margin-right: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-right-xl {
    margin-right: 8rem;
  }
}

.margin-lg {
  margin: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-lg {
    margin: 4rem;
  }
}

.margin-top-lg {
  margin-top: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-top-lg {
    margin-top: 4rem;
  }
}

.margin-bottom-lg {
  margin-bottom: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-bottom-lg {
    margin-bottom: 4rem;
  }
}

.margin-left-lg {
  margin-left: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-left-lg {
    margin-left: 4rem;
  }
}

.margin-right-lg {
  margin-right: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-right-lg {
    margin-right: 4rem;
  }
}

.margin-md {
  margin: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-md {
    margin: 3rem;
  }
}

.margin-top-md {
  margin-top: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-top-md {
    margin-top: 3rem;
  }
}

.margin-bottom-md {
  margin-bottom: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-bottom-md {
    margin-bottom: 3rem;
  }
}

.margin-left-md {
  margin-left: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-left-md {
    margin-left: 3rem;
  }
}

.margin-right-md {
  margin-right: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-right-md {
    margin-right: 3rem;
  }
}

.margin-sm {
  margin: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-sm {
    margin: 2rem;
  }
}

.margin-top-sm {
  margin-top: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-top-sm {
    margin-top: 2rem;
  }
}

.margin-bottom-sm {
  margin-bottom: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-bottom-sm {
    margin-bottom: 2rem;
  }
}

.margin-left-sm {
  margin-left: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-left-sm {
    margin-left: 2rem;
  }
}

.margin-right-sm {
  margin-right: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-right-sm {
    margin-right: 2rem;
  }
}

.margin-xs {
  margin: 1rem;
}

.margin-top-xs {
  margin-top: 1rem;
}

.margin-bottom-xs {
  margin-bottom: 1rem;
}

.margin-left-xs {
  margin-left: 1rem;
}

.margin-right-xs {
  margin-right: 1rem;
}

.padding-xl {
  padding: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-xl {
    padding: 12rem;
  }
}

.padding-top-xl {
  padding-top: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-top-xl {
    padding-top: 12rem;
  }
}

.padding-bottom-xl {
  padding-bottom: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-bottom-xl {
    padding-bottom: 12rem;
  }
}

.padding-left-xl {
  padding-left: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-left-xl {
    padding-left: 12rem;
  }
}

.padding-right-xl {
  padding-right: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-right-xl {
    padding-right: 12rem;
  }
}

.padding-lg {
  padding: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-lg {
    padding: 3rem;
  }
}

.padding-top-lg {
  padding-top: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-top-lg {
    padding-top: 3rem;
  }
}

.padding-bottom-lg {
  padding-bottom: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-bottom-lg {
    padding-bottom: 3rem;
  }
}

.padding-left-lg {
  padding-left: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-left-lg {
    padding-left: 3rem;
  }
}

.padding-right-lg {
  padding-right: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-right-lg {
    padding-right: 3rem;
  }
}

.padding-md {
  padding: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-md {
    padding: 1.5rem;
  }
}

.padding-top-md {
  padding-top: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-top-md {
    padding-top: 1.5rem;
  }
}

.padding-bottom-md {
  padding-bottom: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-bottom-md {
    padding-bottom: 1.5rem;
  }
}

.padding-left-md {
  padding-left: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-left-md {
    padding-left: 1.5rem;
  }
}

.padding-right-md {
  padding-right: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-right-md {
    padding-right: 1.5rem;
  }
}

.padding-sm {
  padding: 1rem;
}

.padding-top-sm {
  padding-top: 1rem;
}

.padding-bottom-sm {
  padding-bottom: 1rem;
}

.padding-left-sm {
  padding-left: 1rem;
}

.padding-right-sm {
  padding-right: 1rem;
}

.padding-xs {
  padding: 0.5rem;
}

.padding-top-xs {
  padding-top: 0.5rem;
}

.padding-bottom-xs {
  padding-bottom: 0.5rem;
}

.padding-left-xs {
  padding-left: 0.5rem;
}

.padding-right-xs {
  padding-right: 0.5rem;
}

.info {
  z-index: 0;
}

.info .info-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .info-title {
  padding: 0;
  margin-top: 1.5rem;
}

.info .tag {
  margin-right: 1.5rem;
}

.info .date {
  text-align: center;
  line-height: 2rem;
  padding: 0;
}

.info.pattern::before {
  top: -10%;
  height: 110%;
}

.saturday {
  z-index: 10;
}

.staff {
  z-index: 0;
}

.staff .staff-item {
  text-align: center;
}

.staff.pattern::before {
  top: -20%;
  height: 120%;
}

.access .access-info {
  font-size: 1.5rem;
  text-align: center;
}

.access iframe {
  width: 100%;
  max-height: 25rem;
}

.recruit-item {
  margin-right: 0;
  border-bottom: 0.1rem solid #cccccc;
}

.recruit-item p {
  margin-bottom: 2rem;
}

.recruit-item .number {
  text-align: left;
  padding: 0;
  margin-top: 1.5rem;
}

.recruit-item .btn-group-sm {
  margin-top: 1.5rem;
}

.recruit-item .tag.tag-placeholder {
  display: block;
  opacity: 0;
}

.info-detail .outlined-btn {
  min-width: 8rem;
}

.account-body {
  min-height: 100%;
  position: relative;
  background: url(/static/images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.account-body::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: .6;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.account-body .panel {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  border-radius: 1rem;
  padding: calc(1.725rem + 5.7vw);
}

@media (min-width: 1200px) {
  .account-body .panel {
    padding: 6rem;
  }
}

.account-body .meta-info {
  text-align: center;
}

.account-body .meta-info span:not(:last-child) {
  margin-bottom: 1rem;
}

.account-body .report-confirm-list li {
  border-bottom: 0.1rem solid #a6a6a6;
}

*,
*::before *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  min-height: 100%;
  z-index: -1;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

a {
  display: block;
}

img {
  display: block;
}

button,
button:hover,
button:focus,
button:active,
button:visited {
  border: none;
  outline: none;
}

a, a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.inner-container {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 100rem;
  margin-left: 0;
}

.data-list {
  width: 100%;
  max-width: 60rem;
}

.data-list.data-list-small {
  max-width: 50rem;
}

.data-list.data-list-lg {
  max-width: 70rem;
}

.hidden {
  display: none;
}

.col {
  max-width: 100%;
  padding-left: calc(1.275rem + 0.3vw);
  padding-right: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .col {
    padding-left: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .col {
    padding-right: 1.5rem;
  }
}

.font-jp {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.font-en {
  font-family: "Roboto", sans-serif;
}

.font-xl {
  font-size: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .font-xl {
    font-size: 4rem;
  }
}

.font-lg {
  font-size: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .font-lg {
    font-size: 3rem;
  }
}

.font-md {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .font-md {
    font-size: 2rem;
  }
}

.font-sm {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .font-sm {
    font-size: 1.5rem;
  }
}

.font-xs {
  font-size: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.text-light {
  color: #f2f2f2 !important;
}

.text-dark {
  color: #333333 !important;
}

.text-primary {
  color: #036eb8 !important;
}

.text-secondary {
  color: #2fa8e1 !important;
}

.text-caution {
  color: #db3218 !important;
}

.letter-spacing-lg {
  letter-spacing: 0.2rem;
}

.letter-spacing-normal {
  letter-spacing: 0.1rem;
}

.custom-bg-primary {
  background-color: #036eb8;
}

.custom-bg-secondary {
  background-color: #2fa8e1;
}

.custom-bg-light {
  background-color: #f2f2f2;
}

.margin-xl {
  margin: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-xl {
    margin: 8rem;
  }
}

.margin-top-xl {
  margin-top: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-top-xl {
    margin-top: 8rem;
  }
}

.margin-bottom-xl {
  margin-bottom: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-bottom-xl {
    margin-bottom: 8rem;
  }
}

.margin-left-xl {
  margin-left: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-left-xl {
    margin-left: 8rem;
  }
}

.margin-right-xl {
  margin-right: calc(1.925rem + 8.1vw);
}

@media (min-width: 1200px) {
  .margin-right-xl {
    margin-right: 8rem;
  }
}

.margin-lg {
  margin: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-lg {
    margin: 4rem;
  }
}

.margin-top-lg {
  margin-top: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-top-lg {
    margin-top: 4rem;
  }
}

.margin-bottom-lg {
  margin-bottom: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-bottom-lg {
    margin-bottom: 4rem;
  }
}

.margin-left-lg {
  margin-left: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-left-lg {
    margin-left: 4rem;
  }
}

.margin-right-lg {
  margin-right: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .margin-right-lg {
    margin-right: 4rem;
  }
}

.margin-md {
  margin: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-md {
    margin: 3rem;
  }
}

.margin-top-md {
  margin-top: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-top-md {
    margin-top: 3rem;
  }
}

.margin-bottom-md {
  margin-bottom: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-bottom-md {
    margin-bottom: 3rem;
  }
}

.margin-left-md {
  margin-left: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-left-md {
    margin-left: 3rem;
  }
}

.margin-right-md {
  margin-right: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .margin-right-md {
    margin-right: 3rem;
  }
}

.margin-sm {
  margin: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-sm {
    margin: 2rem;
  }
}

.margin-top-sm {
  margin-top: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-top-sm {
    margin-top: 2rem;
  }
}

.margin-bottom-sm {
  margin-bottom: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-bottom-sm {
    margin-bottom: 2rem;
  }
}

.margin-left-sm {
  margin-left: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-left-sm {
    margin-left: 2rem;
  }
}

.margin-right-sm {
  margin-right: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .margin-right-sm {
    margin-right: 2rem;
  }
}

.margin-xs {
  margin: 1rem;
}

.margin-top-xs {
  margin-top: 1rem;
}

.margin-bottom-xs {
  margin-bottom: 1rem;
}

.margin-left-xs {
  margin-left: 1rem;
}

.margin-right-xs {
  margin-right: 1rem;
}

.padding-xl {
  padding: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-xl {
    padding: 12rem;
  }
}

.padding-top-xl {
  padding-top: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-top-xl {
    padding-top: 12rem;
  }
}

.padding-bottom-xl {
  padding-bottom: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-bottom-xl {
    padding-bottom: 12rem;
  }
}

.padding-left-xl {
  padding-left: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-left-xl {
    padding-left: 12rem;
  }
}

.padding-right-xl {
  padding-right: calc(2.325rem + 12.9vw);
}

@media (min-width: 1200px) {
  .padding-right-xl {
    padding-right: 12rem;
  }
}

.padding-lg {
  padding: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-lg {
    padding: 3rem;
  }
}

.padding-top-lg {
  padding-top: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-top-lg {
    padding-top: 3rem;
  }
}

.padding-bottom-lg {
  padding-bottom: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-bottom-lg {
    padding-bottom: 3rem;
  }
}

.padding-left-lg {
  padding-left: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-left-lg {
    padding-left: 3rem;
  }
}

.padding-right-lg {
  padding-right: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  .padding-right-lg {
    padding-right: 3rem;
  }
}

.padding-md {
  padding: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-md {
    padding: 1.5rem;
  }
}

.padding-top-md {
  padding-top: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-top-md {
    padding-top: 1.5rem;
  }
}

.padding-bottom-md {
  padding-bottom: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-bottom-md {
    padding-bottom: 1.5rem;
  }
}

.padding-left-md {
  padding-left: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-left-md {
    padding-left: 1.5rem;
  }
}

.padding-right-md {
  padding-right: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .padding-right-md {
    padding-right: 1.5rem;
  }
}

.padding-sm {
  padding: 1rem;
}

.padding-top-sm {
  padding-top: 1rem;
}

.padding-bottom-sm {
  padding-bottom: 1rem;
}

.padding-left-sm {
  padding-left: 1rem;
}

.padding-right-sm {
  padding-right: 1rem;
}

.padding-xs {
  padding: 0.5rem;
}

.padding-top-xs {
  padding-top: 0.5rem;
}

.padding-bottom-xs {
  padding-bottom: 0.5rem;
}

.padding-left-xs {
  padding-left: 0.5rem;
}

.padding-right-xs {
  padding-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 120rem;
  }
  .inner-container {
    width: 80%;
    max-width: 60rem;
  }
  .tag {
    max-width: 4.5rem;
  }
  .tag.tag-placeholder {
    display: block;
    opacity: 0;
  }
  .navbar-brand a {
    margin: 0 !important;
  }
  .navbar-collapse {
    position: static !important;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-collapse .close {
    display: none;
  }
  .navbar-collapse .navbar-nav {
    margin-top: 0 !important;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-collapse .nav-item {
    height: 100%;
    padding-left: calc(1.325rem + 0.9vw) !important;
    padding-right: calc(1.325rem + 0.9vw) !important;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .navbar-collapse .nav-item {
    padding-left: 2rem !important;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .navbar-collapse .nav-item {
    padding-right: 2rem !important;
  }
}

@media screen and (min-width: 768px) {
  .navbar-collapse .nav-link {
    position: relative;
    height: 100%;
    line-height: 5rem;
    padding: 0 !important;
    margin: 0;
    opacity: .8;
  }
  .navbar-collapse .nav-link:hover, .navbar-collapse .nav-link.active {
    opacity: 1;
  }
  .navbar-collapse .nav-link:hover::after, .navbar-collapse .nav-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: #f2f2f2;
    position: absolute;
  }
  .hero {
    height: 45rem;
  }
  .info .tag {
    margin: 0;
  }
  .info .date {
    padding: 0 1.5rem;
  }
  .info .info-item {
    position: relative;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info .info-item .info-title {
    padding: 0 1.5rem;
    margin-top: 0 !important;
    text-align: right;
  }
  .staff .staff-item {
    text-align: left;
  }
  .access-info {
    font-size: 2rem !important;
    text-align: left !important;
  }
  .recruit-item p {
    margin-bottom: 0;
  }
  .recruit-item .number {
    text-align: left;
    margin: 0;
  }
  .recruit-item .btn-group-sm {
    margin: 0;
  }
  .meta-info span {
    text-align: left;
  }
  .meta-info span:not(:last-child) {
    margin-bottom: 0 !important;
    padding-left: 0;
  }
  .meta-info span:last-child {
    padding-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .hero {
    height: 55rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
/*# sourceMappingURL=main.css.map */