{% extends '_base.html' %}
{% load static %}

{% block title %}ホーム{% endblock title%}
{% block home %} active{% endblock home %}
{% block hero_title %}トライズ大通情報サイト{% endblock hero_title%}
{% block hero_subtitle %}開所予定・イベント・求人情報・施設内告知{% endblock hero_subtitle %}

{% block content %}
<section class="section pattern info padding-top-xl padding-bottom-xl" id="info">
    <div class="container">
        <h2 class="title font-md font-bold text-dark text-center margin-bottom-xl">
            <span class="d-block margin-bottom-md">新着情報</span>
            <span class="d-block font-en font-medium font-sm text-uppercase letter-spacing-lg">Info</span>
        </h2>
        <ul class="data-list data-list-lg">
            {% for post in posts|slice:":5" %}
                <li class="info-item row margin-bottom-sm">
                    {% if post.tag %}
                        <span class="col col-4 col-md-1 tag font-en font-xs text-light text-uppercase custom-bg-secondary">{{ post.tag }}</span>
                    {% else %}
                        <span class="col col-4 col-md-1 tag tag-placeholder font-en font-xs text-light text-uppercase custom-bg-secondary">{{ post.tag }}</span>
                    {% endif %}                        
                    <span class="date col col-8 col-md-3 font-light font-md text-left">{{ post.publish_date|date:'Y-m-d' }}</span>
                    <a class="info-title col col-12 col-md-8 text-dark font-md font-medium text-left" href="{% url 'post_detail' post.pk %}"><u>{{ post.title }}</u></a>
                </li>
            {% endfor %}
        </ul>
        {% if perms.pages.can_add_post %}
        <a class="add outlined-btn d-flex flex-row justify-content-between align-items-center margin-top-lg" href="{% url 'post_new' %}">
            新着情報追加
            <span class="material-icons ml-1">add</span>
        </a>
        {% endif %}
    </div>
</section>
<section class="section custom-bg-primary saturdays padding-top-xl padding-bottom-xl">
    <div class="container">
        <h2 class="title font-md font-bold text-light text-center margin-bottom-xl">
            <span class="d-block margin-bottom-md">土曜開所予定</span>
            <span class="d-block font-en font-medium font-sm text-uppercase letter-spacing-lg">Saturdays</span>
        </h2>
        <ul class="data-list">
            {% for schedule in saturday_schedules %}
                <li class="row font-md text-light margin-bottom-sm">
                    <span class="col-8">{{ schedule.date }} {{ schedule.title }}</span>
                    {% if perms.pages.can_update_saturday_schedule %}
                        <div class="btn-group-sm col-4 d-flex flex-row justify-content-end">
                            <a class="text-btn-small-light text-center margin-right-sm" href="{% url 'saturday_edit' schedule.pk %}">編集</a>
                            <a class="text-btn-small-light text-center" href="{% url 'saturday_delete' schedule.pk %}">削除</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if perms.pages.can_add_saturday_schedule %}
        <a class="outlined-btn-light btn-light d-flex flex-row justify-content-between align-items-center mt-5" href="{% url 'saturday_new' %}">
            土曜予定追加
            <span class="material-icons ml-1">add</span>
        </a>
        {% endif %}
    </div>
</section>
<section class="section pattern staff padding-top-xl padding-bottom-xl">
    <div class="container">
        <h2 class="title font-md font-bold text-dark text-center margin-bottom-xl">
            <span class="d-block margin-bottom-md">職員予定</span>
            <span class="d-block font-en font-medium font-sm text-uppercase letter-spacing-lg">Staff Schedule</span>
        </h2>
        <ul class="data-list">
            {% for schedule in staff_schedules %}
                <li class="d-flex flex-row justify-content-between align-items-center font-md text-light margin-bottom-sm">
                    <span class="col-8 text-dark">{{ schedule.name }}: {{ schedule.date }} {{ schedule.content }} / {{ schedule.duration }}</span>
                    {% if perms.pages.can_update_staff_schedule %}
                        <div class="btn-group-sm col-4 d-flex flex-row justify-content-end">
                            <a class="text-btn-small text-center margin-right-sm" href="{% url 'staff_edit' schedule.pk %}">編集</a>
                            <a class="text-btn-small-caution text-center" href="{% url 'staff_delete' schedule.pk %}">削除</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if perms.pages.can_add_staff_schedule %}
        <a class="add outlined-btn d-flex flex-row justify-content-between align-items-center margin-top-lg" href="{% url 'staff_new' %}">
            職員予定追加
            <span class="material-icons ml-1">add</span>
        </a>
        {% endif %}
    </div>
</section>
<section class="section custom-bg-primary access padding-top-xl padding-bottom-xl">
    <div class="container">
        <h2 class="title font-md font-bold text-light text-center margin-bottom-xl">
            <span class="d-block margin-bottom-md">アクセス</span>
            <span class="d-block font-en font-medium font-sm text-uppercase letter-spacing-lg">Access</span>
        </h2>
        <div class="row my-5">
            <div class="col-md-6 text-light mb-5 access-info d-flex flex-column justify-content-center">
                <p class="mb-3">〒060-0051</p>
                <p class="mb-3">札幌市中央区南1条東2丁目 5-1 MⅡビル 5Ｆ</p>
                <p class="mb-3">Tel: 011-252-7660 / Fax: 011-252-7661</p>
                <p>Email: odori＠tryze.biz</p>
            </div>
            <div class="col-md-6 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2915.089456470641!2d141.35664501547328!3d43.06058607914616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b29780eba7edd%3A0x76e2287e88cc7456!2z44CSMDYwLTAwNTEg5YyX5rW36YGT5pyt5bmM5biC5Lit5aSu5Yy65Y2X77yR5p2h5p2x77yS5LiB55uu77yV4oiS77yRIO-8re-8kuODk-ODqyA177ym!5e0!3m2!1sja!2sjp!4v1598268637440!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock content %}