{% extends '_base.html' %}
{% load static %}

{% block title %}掲示板{% endblock title%}
{% block info %} active{% endblock info %}
{% block hero_title %}掲示板{% endblock hero_title%}
{% block hero_subtitle %}info{% endblock hero_subtitle %}

{% block content %}
<section class="section info padding-top-xl padding-bottom-xl">
    <div class="container">
        <ul class="data-list data-list-lg">
            {% for post in posts %}
                <li class="info-item row margin-bottom-md">
                    {% if post.tag %}
                        <span class="col col-4 col-md-1 tag font-en font-xs text-light text-uppercase custom-bg-secondary">{{ post.tag }}</span>
                    {% else %}
                        <span class="col col-4 col-md-1 tag tag-placeholder font-en font-xs text-light text-uppercase custom-bg-secondary">{{ post.tag }}</span>
                    {% endif %}                        
                    <span class="date col col-8 col-md-3 font-light font-md">{{ post.publish_date|date:'Y-m-d' }}</span>
                    <a class="info-title col col-12 col-md-8 text-dark font-md font-medium" href="{% url 'post_detail' post.pk %}"><u>{{ post.title }}</u></a>
                </li>
            {% endfor %}
        </ul>
        {% if perms.pages.can_add_post %}
            <a class="add outlined-btn d-flex flex-row justify-content-between align-items-center margin-top-lg" href="{% url 'post_new' %}">
                新着情報追加
                <span class="material-icons ml-1">add</span>
            </a>
        {% endif %}
    </div>
</section>
{% endblock content %}