{% extends '_base.html' %}
{% load static %}

{% block title %}掲示板{% endblock title%}
{% block hero_title %}掲示板{% endblock hero_title%}
{% block hero_subtitle %}info{% endblock hero_subtitle %}

{% block content %}
<section class="section info padding-top-xl padding-bottom-xl">
    <div class="container">
        <ul class="my-5">
            {% for post in posts %}
                <li class="info-item d-flex align-items-center mb-5">
                    <div class="meta-group d-flex flex-row justify-content-left align-items-center">
                        {% if post.tag %}<span class="tag font-en font-xs text-light text-uppercase custom-bg-secondary margin-right-sm">{{ post.tag }}</span>{% endif %}
                        <span class="date font-light font-md">{{ post.publish_date|date:'Y-m-d' }}</span>
                    </div>
                    <a class="info-title text-dark font-md font-medium" href="{% url 'post_detail' post.pk %}"><u>{{ post.title }}</u></a>
                </li>
            {% endfor %}
        </ul>
        {% if perms.pages.can_add_post %}
            <a class="add outlined-btn d-flex flex-row justify-content-between align-items-center margin-top-lg" href="{% url 'post_new' %}">
                新着情報追加
                <span class="material-icons ml-1">add</span>
            </a>
        {% endif %}
    </div>
</section>
{% endblock content %}