{% extends '_account_base.html' %}
{% load static %}

{% block title %}情報削除{% endblock title%}

{% block page_title %}情報削除{% endblock page_title %}

{% block content %}
<div class="panel custom-bg-light d-flex flex-column align-items-center">
    <p class="font-md font-medium">レコードを削除してもよろしいですか？</p>
    <form class="form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex flex-row justify-content-center align-items-center">
            <button class="contained-btn-caution margin-top-md margin-bottom-md margin-right-md" type="submit">削除</button>
            <a class="outlined-btn" href="{% url 'post_detail' post.pk %}">情報へ戻る</a>
        </div>
    </form>
</div>
{% endblock content %}