{% extends '_base.html' %}
{% load static %}

{% block title %}新規情報{% endblock title%}
{% block hero_title %}新規情報{% endblock hero_title%}
{% block hero_subtitle %}new info{% endblock hero_subtitle %}

{% block content %}
<section class="section info-new padding-top-xl padding-bottom-xl">
    <div class="container">
        <h2 class="font-md font-bold margin-bottom-lg">新規情報</h2>
        <form class="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex flex-row justify-content-center margin-top-lg">
                <button class="contained-btn margin-right-md" type="submit">作成</button>
                <a class="text-btn" href="{% url 'info' %}">戻る</a>
            </div>
        </form>
    </div>
</section>
{% endblock content %}