{% extends '_base.html' %}
{% load static %}

{% block title %}情報詳細{% endblock title%}
{% block hero_title %}情報詳細{% endblock hero_title%}
{% block hero_subtitle %}info detail{% endblock hero_subtitle %}

{% block content %}
<section class="section info-detail padding-top-xl padding-bottom-xl">
    <div class="container">
        <h2 class="margin-bottom-md">{{ post.title }}</h2>
        <p class="inner-container">{{ post.content }}</p>
        <div class="d-flex flex-row margin-top-xl">
            <a class="outlined-btn text-center margin-right-sm" href="{% url 'post_edit' post.pk %}">
                編集
            </a>
            <a class="outlined-btn-caution text-center margin-right-lg" href="{% url 'post_delete' post.pk %}">
                削除
            </a>
            <a class="text-btn" href="{% url 'info' %}">
                掲示板へ戻る
            </a>
        </div>
    </div>
</section>
{% endblock content %}