{% extends '_base.html' %}
{% load static %}

{% block title %}新規求人情報{% endblock title%}
{% block hero_title %}新規求人情報{% endblock hero_title%}
{% block hero_subtitle %}new recruit{% endblock hero_subtitle %}

{% block content %}
<section class="section recruit-new padding-top-xl padding-bottom-xl">
    <div class="container">
        <h2 class="font-md font-bold margin-bottom-lg">新規求人情報</h2>
        <form class="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="contained-btn margin-top-md" type="submit">作成</button>
        </form>
    </div>
</section>
{% endblock content %}