{% extends '_base.html' %}
{% load static %}

{% block title %}求人情報{% endblock title%}
{% block recruit %} active{% endblock recruit %}
{% block hero_title %}求人情報{% endblock hero_title%}
{% block hero_subtitle %}recruit{% endblock hero_subtitle %}

{% block content %}
<section class="section recruit padding-top-xl padding-bottom-xl">
    <div class="container">
        <h2 class="font-md font-bold margin-bottom-lg">{{ month }}月{{ day }}日更新</h2>
        <ul class="data-list data-list-lg">
            {% for post in posts %}
                <li class="recruit-item row padding-bottom-sm margin-bottom-sm">    
                    {% if post.tag %}
                        <span class="col col-4 col-md-2 tag font-en font-xs text-light text-uppercase custom-bg-secondary">{{ post.tag }}</span>
                    {% else %}
                        <span class="col col-4 col-md-2 tag tag-placeholder font-en font-xs text-light text-uppercase custom-bg-secondary">{{ post.tag }}</span>
                    {% endif %}
                    <span class="col col-8 col-md-4 recruit-title">{{ post.title }}</span>
                    <span class="col col-8 col-md-4 number">番号：{{ post.number }}</span>
                    {% if perms.pages.can_update_recruit_info %}
                        <div class="col btn-group-sm col-4 col-md-2 d-flex flex-row justify-content-end">
                            <a class="text-btn-small text-center margin-right-xs" href="{% url 'recruit_edit' post.pk %}">編集</a>
                            <a class="text-btn-small-caution text-center" href="{% url 'recruit_delete' post.pk %}">削除</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if perms.pages.can_add_recruit_info %}
        <a class="add outlined-btn d-flex flex-row justify-content-between align-items-center margin-top-lg" href="{% url 'recruit_new' %}">
            求人情報追加
            <span class="material-icons ml-1">add</span>
        </a>
        {% endif %}
    </div>
</section>
{% endblock content %}