{% extends '_base.html' %}
{% load static %}

{% block title %}求人情報{% endblock title%}
{% block hero_title %}求人情報{% endblock hero_title%}
{% block hero_subtitle %}recruit{% endblock hero_subtitle %}

{% block content %}
<section class="section recruit padding-top-xl padding-bottom-xl">
    <div class="container">
        <h2 class="font-md font-bold margin-bottom-lg">{{ month }}月{{ day }}日更新</h2>
        <ul class="data-list">
            {% for post in posts %}
                <li class="recruit-item row padding-bottom-sm margin-bottom-sm">
                    <p class="col-12 col-md-5 d-flex flex-row justify-content-center align-items-center">
                        {% if post.tag %}<span class="tag font-en font-xs text-light text-uppercase custom-bg-secondary margin-right-sm">{{ post.tag }}</span>{% endif %}
                        <span class="recruit-title">{{ post.title }}</span>
                    </p>
                    <span class="number col-12 col-md-4">番号：{{ post.number }}</span>
                    {% if perms.pages.can_update_recruit_info %}
                        <div class="col-12 col-md-3 row btn-group">
                            <a class="col-2 offset-4 offset-md-0 col-md-6 text-btn-small text-center" href="{% url 'recruit_edit' post.pk %}">編集</a>
                            <a class="col-2 col-md-6 text-btn-small-caution text-center" href="{% url 'recruit_delete' post.pk %}">削除</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if perms.pages.can_add_recruit_info %}
        <a class="add outlined-btn d-flex flex-row justify-content-between align-items-center margin-top-lg" href="{% url 'recruit_new' %}">
            求人情報追加
            <span class="material-icons ml-1">add</span>
        </a>
        {% endif %}
    </div>
</section>
{% endblock content %}