{% extends '_base.html' %}
{% load static %}

{% block title %}求人情報{% endblock title%}

{% block content %}
<section class="hero subpage">
    <div class="container d-flex flex-column align-items-center">
        <h1 class="title">
            <span class="maintitle">求人情報</span>
            <span class="subtitle">Recruit</span>
        </h1>
    </div>
</section>
<section class="section news d-flex flex-column align-items-center">
    <h2 class="title">新規求人情報</h2>
    <form class="news-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="cta" type="submit">作成</button>
    </form>
</section>
{% endblock content %}