{% extends '_base.html' %}
{% load static %}

{% block title %}求人情報{% endblock title%}
{% block hero_title %}求人情報{% endblock hero_title%}
{% block hero_subtitle %}recruit{% endblock hero_subtitle %}

{% block content %}
<section class="section recruit padding-top-xl padding-bottom-xl">
    <div class="container">
        <h2 class="font-md font-bold margin-bottom-lg">{{ month }}月{{ day }}日更新</h2>
        <ul class="">
            {% for post in posts %}
                <li class="recruit-item d-flex flex-column align-items-left padding-bottom-sm margin-bottom-md">
                    <p class="d-flex flex-row align-items-center margin-bottom-xs">
                        {% if post.tag %}<span class="tag font-en font-xs text-light text-uppercase custom-bg-secondary margin-right-sm">{{ post.tag }}</span>{% endif %}
                        <span class="recruit-title">{{ post.title }}</span>
                    </p>
                    <span class="number">求人番号：{{ post.number }}</span>
                </li>
            {% endfor %}
        </ul>
        {% if perms.pages.can_add_recruit_info %}
        <a class="add outlined-btn d-flex flex-row justify-content-between align-items-center margin-top-lg" href="{% url 'recruit_new' %}">
            求人情報追加
            <span class="material-icons ml-1">add</span>
        </a>
        {% endif %}
    </div>
</section>
{% endblock content %}