{% extends '_base.html' %}
{% load static %}

{% block title %}日報{% endblock title%}

{% block content %}
<section class="hero subpage">
    <div class="container d-flex flex-column align-items-center">
        <h1 class="title">
            <span class="maintitle">日報</span>
            <span class="subtitle">Report</span>
        </h1>
    </div>
</section>
<section class="section report d-flex flex-column align-items-center">
    <h2 class="title">日報：{{ month }}月{{ day }}日</h2>
    <form class="report-form" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="cta" type="submit">送信</button>
    </form>
</section>
{% endblock content %}