{% extends '_base.html' %}
{% load static %}

{% block title %}日報{% endblock title%}

{% block content %}
<section class="hero subpage">
    <div class="container d-flex flex-column align-items-center">
        <h1 class="title">
            <span class="maintitle">日報</span>
            <span class="subtitle">Report</span>
        </h1>
    </div>
</section>
<section class="section report d-flex flex-column align-items-center">
    <h2 class="title">日報：{{ month }}月{{ day }}日</h2>
    {% if user.is_authenticated %}
        {% if sent %}
            <p class="alert-text">本日の日報が既に送信されました!</p>
            <a class="cta" href="{% url 'home' %}">ホームへ戻る</a>
        {% else %}
            <form class="report-form" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <p>{{ field.label_tag }}{{field}}</p>
                {% endfor %}
                <button class="cta" type="submit" name="next" value="confirm">送信</button>
            </form>
        {% endif %}
    {% endif %}
</section>
{% endblock content %}