{% extends '_base.html' %}
{% load static %}

{% block title %}利用者日報送信結果{% endblock title%}

{% block content %}
<section class="hero subpage">
    <div class="container d-flex flex-column align-items-center">
        <h1 class="title">
            <span class="maintitle">利用者日報送信結果</span>
            <span class="subtitle">Report List</span>
        </h1>
    </div>
</section>
<section class="section reports">
    <div class="container">
        {% for report in page_obj %}
            <div class="accordion">
                <h3 class="accordion-title d-flex flex-row justify-content-between align-items-center">
                    <div>
                        <span>{{ report.date|date:'Y-m-d' }}</span>
                        <span>{{ report.name }}</span>
                    </div>
                    <i class="material-icons plus">add</i>
                    <i class="material-icons minus hidden">remove</i>
                </h3>
                <div class="accordion-content">
                    <p class="row"><span class="col-6">体調：</span><span>{{ report.condition }}</span></p>
                    <p class="row"><span class="col-6">体温：</span><span>{{ report.temperature }}</span></p>
                    <p class="row"><span class="col-6">午前：</span><span>{{ report.am }}</span></p>
                    <p class="row"><span class="col-6">午前具体内容：</span><span>{{ report.am_detail }}</span></p>
                    <p class="row"><span class="col-6">午後：</span><span>{{ report.pm }}</span></p>
                    <p class="row"><span class="col-6">午後具体内容：</span><span>{{ report.pm_detail }}</span></p>
                    <p class="row"><span class="col-6">感想や相談事など：</span><span>{{ report.comment }}</span></p>
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links d-flex flex-row justify-content-between">
                {% if page_obj.has_previous %}
                    <div class="page-nav">
                        <a href="?page=1">&laquo; FIRST</a>
                        <a href="?page={{ page_obj.previous_page_number }}">PREV</a>
                    </div>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
        
                {% if page_obj.has_next %}
                    <div class="page-nav">
                        <a href="?page={{ page_obj.next_page_number }}">NEXT</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">LAST &raquo;</a>
                    </div>
                {% endif %}
            </span>
        </div>
    </div>
</section>
{% endblock content %}