{% extends '_base.html' %}
{% load static %}

{% block title %}利用者日報送信結果{% endblock title%}

{% block content %}
<section class="hero subpage">
    <div class="container d-flex flex-column align-items-center">
        <h1 class="title">
            <span class="maintitle">利用者日報送信結果</span>
            <span class="subtitle">Report List</span>
        </h1>
    </div>
</section>
<section class="section report">
    <div class="container">
        <div class="content-container">
            <ul class="report-list">
                {% for report in reports %}
                    <li class="item report-item table">
                        <th>{{ report.date }} {{ report.name }}: </th>
                        <td>{{ report.condition }}</td>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock content %}