{% extends '_base.html' %}
{% load static %}

{% block title %}新規職員予定{% endblock title%}
{% block hero_title %}新規職員予定{% endblock hero_title%}
{% block hero_subtitle %}new stafff schedule{% endblock hero_subtitle %}

{% block content %}
<section class="section staff-new padding-top-xl padding-bottom-xl">
    <div class="container">
        <h2 class="font-md font-bold margin-bottom-lg">新規職員予定</h2>
        <form class="form" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="contained-btn margin-top-md" type="submit">作成</button>
        </form>
    </div>
</section>
{% endblock content %}